html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  background-repeat: no-repeat;
  /* background-position: center; */
}

body {
  display: flex;
  /* margin: 10px auto; */
  justify-content: center;
}

.bodi_container {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  padding: 40px;
  width: 1280px;
  height: auto; /*auto; /* 1399px;*/
  background: #f5f7fa;
  @media screen and (min-width: 1280px) {
    padding: 40px;
    width: 1280px;
    height: auto;
  }
}

.main_container {
  background: #ffffff; /* background: #f5f7fa;*/
  display: flex;
  flex-direction: row;
  width: 1200px;
  height: auto; /*1319px*/
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  /* box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1); */
}
h1 {
  /* padding-top: 30px;
  padding-bottom: 40px; */
}
h2 {
  color: #595959;
  /* padding-top: 0px;
  padding-bottom: 10px; */
  font-size: 22px;
  line-height: 26, 82px;
  text-shadow: 4px 4px 8px rgba(128, 128, 128, 0.452);
}
h3 {
  color: #8a94a3;
  /* padding-top: 0px;
  padding-bottom: 10px; */
  font-size: 16px;
  line-height: 19, 5px;
  text-shadow: 3px 3px 6px rgba(128, 128, 128, 0.452);
}
h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}
/* ul,
ol {
  margin-left: 20px;
} */
li {
  list-style-type: none;
}
use,
svg,
html,
body,
ol,
ul,
li,
dl,
dt,
dd,
p {
  padding: 0;
  margin: 0;
}
ol {
  font-weight: bold;
  text-shadow: 3px 3px 6px lightgrey;
}

.sum,
.sum_P {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #000;
}

.sum {
  text-align: right;
}
.sum:hover {
  cursor: pointer;
}
/* ======header============ */
header {
  /* position: relative; */
  text-align: end;
  height: 40px;
  background-color: #fff;
}

/*=======left-section=======*/
.left_section {
  background: #1e2939;
  color: #ffffff;
  width: 370px;
  padding: 35px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.left_section-photo {
  margin: 0 auto;
  image-rendering: optimizeQuality;
  width: 300px;
  height: auto;
  box-shadow: 6px 6px 20px rgba(255, 255, 255, 0.103);
}
.left_block_h2 {
  color: #ffffff;
  margin: 0 0 20px 40px;
  /* text-align: center;  #a8a8a8;*/
}
.Contacts_block,
.Tech_Skills_block,
.Soft_Skills_block {
  margin-left: 50px;
  margin-top: 50px;
}

.orange-punkt {
  color: #fb6d3a;
  list-style-type: disc;
}
.skills-text {
  color: #fff; /*#808790;*/
  font-weight: 100;
}
.set-link {
  color: #8a94a3; /* #8a94a3; #fff; */
  font-weight: 400;
  /* padding: 5px; */
  text-align: right;
}
.check {
  background-color: #000000;
}
/*======right_section=======*/

.right_section {
  max-width: 830px;
  padding: 35px 90px;

  /*background: #ffffff;*/
}
.icon {
  width: 16px;
  fill: #ffffff;
  stroke: #000000;
}
.header {
  /* display: flex; */
}
.en-ua {
  border: none;
}
.h1 {
  margin: 30px auto 50px auto;
  text-shadow: 6px 6px 12px rgba(128, 128, 128, 0.452);
  font-size: 45px;
  line-height: 94, 84px;
  color: #000;
}
.about_me_block div {
  /* display: flex; */
  align-content: flex-end;
  text-align: justify;
  /* max-width: 540px; */
  /* text-align: right; */
  /* margin-left: 200px; */
  margin-bottom: 50px;
}
.about_me_P {
  display: block;
  /* text-align: right; */
  /* margin-left: 100px; */
}
.project-item {
  margin-left: 20px;
  list-style-type: decimal;
}

.Education_block h2,
.Work_1_block h2,
.Work_2_block h2,
.Work_3_block h2,
.Projects_block h2 {
  margin-bottom: 20px;
}
.Work_Experience_container_h2 {
  padding-left: 40px;
  margin-bottom: 30px;
}

.about_me_block,
.Projects_block,
.Work_1_block,
.Work_2_block,
.Work_3_block,
.Education_block {
  /* display: flex; */
  width: 500px;
  padding: 0px;
  margin-left: 40px;
  font-weight: 400;
}
.about_me_S {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
}
.Projects_block {
  /* display: flex; */
  margin-bottom: 50px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  height: auto;
}
.Projects_block_link {
  color: #595959;
  font-weight: 400;
}
.Projects_block_bracket {
  font-weight: bold;
  color: #000000;
}
.Projects_block_text {
  color: #595959;
  font-weight: 400;
}
.Work_1_block {
  margin-bottom: 20px;
  height: auto;
}
.Work_2_block {
  margin-bottom: 20px;
  height: auto;
}
.Work_3_block {
  margin-bottom: 50px;
  height: auto;
}
.Education_block {
  margin-bottom: 20px;
  height: auto;
}
.univer,
.Work_1_color,
.Work_2_color,
.Work_3_color,
.Education_set {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
}
.Education_set {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 60px;
  font-size: 16px;
  line-height: 19, 5px;
  font-weight: 700;
}
.data_set {
  margin-top: 0px;
  margin-bottom: 20px;
  /* margin-left: 40px; */
  padding: 0px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
}
.divider {
  color: #000000;
}
/* .Work_Experience_container{} */
